<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>Schnell mal ausprobiert ...</ion-card-subtitle>
        <ion-card-title>Superfly Stream</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Ein sehr einfacher Player mit folgender Ziel-URL: http://stream01.superfly.fm:8080/live128</p>
        <p>Theoretisch sollte man auch im Lock-Screen noch schalten können - das funktioniert aber nicht</p>
        <p>Aktuelle Lautstärke: {{ volume }}</p>

        <ion-button color="primary" (click)="play()">Play</ion-button>
        <ion-button color="secondary" (click)="stop()">Stop</ion-button>
        <ion-button color="secondary" (click)="changeVolume()">Lautstärke ändern</ion-button>

      </ion-card-content>
    </ion-card>
</ion-content>
